<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".QueMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/quem_icon"
        android:roundIcon="@mipmap/quem_icon_round"
        android:label="QueM"
        android:theme="@style/Theme.QueM">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
